/*****************************
SCROLL HOMEPAGE
******************************/

.local-scroll {
  width: 120px;
  height: 50px;
  margin-left: -60px;
  bottom: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  text-decoration: none;
}

.scroll-down:before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  border: 3px solid #FFF;
  background: transparent !important;
  margin: 0 0 0 -20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #fff;
  border-radius: 24px;
  z-index: 1;
}

i {
  display: inline-block;
  font-style: normal;
  position: relative;
}

i.fa-chevron-down {
  color: #fff;
  display: block;
  top: 26px;
  width: 12px;
  height: 12px;
  border-radius: 4px;
  animation: fadeInDown 1.2s linear infinite;
  position: absolute;
  left: 50%;
  margin-left: -11.5px
}


/* animation local scroll */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    top: 30px;
  }
  50% {
    opacity: 1;
    transform: none;
    top: 31px
  }
  100% {
    opacity: 0;
    transform: none;
    top: 32px
  }
}