/*****************************
 HOME SECTION - CANVAS + INTRO
******************************/

.home-section {
  position: relative;
  width: 100%;
  background: #262b2e;
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  height: 100%;
  text-align: center;
}

#home-content {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

#home-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#title {
  position: relative;
  min-height: 220px;
}

#title h2 {
  color: #fff;
  font-size: 65px;
  font-family: "museo-slab";
  font-weight: 600;
  line-height: 50px
}

#title h2 > span {
  -webkit-transition: opacity linear 1.5s;
  -moz-transition: opacity linear 1.5s;
  -ms-transition: opacity linear 1.5s;
  -o-transition: opacity linear 1.5s;
  transition: opacity linear 1.5s;
}

#title h3 {
  color: #fff;
  font-size: 22px;
  font-family: "museo-sans";
  font-weight: 300;
  margin-top: 30px;
}

/*****************************
CANVAS HOMEPAGE
******************************/

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}