@import "css/header";
@import "css/header-pages";
@import "css/scroll";
@import "css/sticky";
@import "css/responsive-menu";
@import "css/input-yoshiko";

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #373C3F;
  font-family: "museo-sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

p {
  line-height: 35px;
  font-size: 16px;
}

h1 {font-family: "museo-slab", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}

h3 {
  font-size: 22px;
  color: #373C3F;
}

h4 {
  font-size: 18px;
  color: #7c7c7c;
}

/*****************************
COMMON ELEMENTS
******************************/

.page {
  overflow: hidden;
}

.full-wrapper {
  margin: 0 5%;
}

.relative {
  position: relative
}

.clear {
  clear: both
}

/*****************************
 PAGE ELEMENTS
******************************/

.page-section {
  background: #fff;
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 80px 0;
}

.bkg-white {
  background-color: #fff
}

.bkg-gray {
  background-color: #f9f9f9
}

.container {
  /*temp: @media (min-width: 1200px) */
  width: 1170px;
  /**/
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container h2.linebottom {
  margin-bottom: 80px;
  position: relative;
  text-transform: uppercase;
}

.container h2.linebottom:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #00ACD4;
  top: 80px;
  width: 80px;
  left: 45%;
  margin-left: 15px;
}


.intro-body, .process-body, .joinus-body, .intro-contact {
  text-align: center;

  h3 {font-size: 20px; color: #373C3F; font-weight: 300; margin-bottom: 50px}

  p {
    margin-bottom: 40px
  }

  ul li {
    list-style: none;
    padding-right: 10px
  }
  li:before {
    content: "• ";
    color: #00ACD4;
    padding-right: 10px
  }

}

.diagram {
  display: flex;
  height: 100%;
}

.legend {
  margin: auto 0;
}

ul li[id^="diagram-legend-"] {
  position: relative;
  list-style: none;
  padding-left: 50px;
  line-height: 20px;
  font-size: 13px;
  text-align: left;
  margin-bottom: 60px;
}

span.list-number {
  background-color: #00acd4;
  color: white;
  font-weight: 500;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
}

.join-us {
  background: url("images/joinus-home.png") no-repeat bottom center;
}

/*****************************
FOOTER PAGEs
******************************/

.text-body-footerPage {
  text-align: left;

  h3 {
    margin: 50px 0 10px;
  }

  h4 {
    margin: 25px 0 15px;
  }

  p {
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 14px;
  }

  ul {padding-left: 0}

  ul li {
    line-height: 28px;
    font-size: 14px;
    list-style: none;
    padding-right: 5px;
    margin-bottom: 10px;

    ul {margin-left: 10px}
    ul li {padding-left: 5px; list-style: none}
    li:before {
      content: "• ";
      color: #373C3F;
      padding-right: 3px
    }

  }
  li:before {
    content: "• ";
    color: #00ACD4;
    padding-right: 3px
  }

}

/*****************************
FOOTER
******************************/

footer {

  border-top: 1px solid #7c7c7c;
  padding-top: 45px;

  img {
    width: 90px
  }

  a {
    color: #373C3F;
  }
  a:hover {
    color: #00ACD4;
    text-decoration: none
  }

  .more-information {
    font-weight: 500;
    margin-top: 10px
  }

  figure {
    margin-bottom: 20px
  }

  h4 {
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #7c7c7c;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 13px;
    }
  }
}

.mini-about, .contact-information {
  p {
    font-size: 13px;
    line-height: 23px;
    margin: 2px 0 0;
  }

}

.footer-close {
  background-color: #373c3f;
  text-align: center;
  padding: 10px 0;
  margin: 60px 0 0;

  p {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    margin: 0;
  }
}


