@import "header";
@import "scroll";
@import "sticky";

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #373C3F;
  font-family: "museo-sans";
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

p {
  line-height: 40px;
  font-size: 16px;
}


/*****************************
COMMON ELEMENTS
******************************/

.page {
  overflow: hidden;
}

.full-wrapper {
  margin: 0 5%;
}

.relative {
  postion: relative
}

.clear {clear:both}

/*****************************
 PAGE ELEMENTS
******************************/

.page-section {
  background: #fff;
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding:80px 0; 
}

.bkg-white {background-color:#fff}
.bkg-gray {background-color:#f9f9f9}


.container {
  /*temp: @media (min-width: 1200px) */
  width: 1170px;
  /**/  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container h2{
    margin-bottom:80px; position: relative;
}

.container h2:after{ 
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #00ACD4;
    top: 80px;
    width: 80px;
    left: 45%;
    margin-left: 15px;
}

.intro-body, .process-body {
  text-align:center;
}


/*****************************
MEDIA QUERY
******************************/


@media only screen and (min-width: 1280px) {
  .button_container, #overlay, .button-user {
    display: none;
  }
  #nav-tools-section, #nav-page-section{
    display:inline;
  }
}

@media only screen and (max-width: 1280px) {
  .button_container {display: block;}
  .button-user {display: inline-block; margin-right: 10px;}

  #nav-tools-section, #nav-page-section, .separator-menu{
    display:none;
  }
}



/*****************************
 CSS3 ANIMATIONS
******************************/


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    top: 30px
  }
  50% {
    opacity: 1;
    transform: none;
    top: 31px
  }
  100% {
    opacity: 0;
    transform: none;
    top: 32px
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}