html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #373C3F;
  font-family: "museo-sans";
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}

p {
  line-height: 40px;
  font-size: 16px;
}


/*****************************
COMMON ELEMENTS
******************************/

.page {
  overflow: hidden;
}

.full-wrapper {
  margin: 0 5%;
}

.relative {
  postion: relative
}

.clear {clear:both}


/*****************************
 MAIN MENU - STICKY MENU
******************************/

#main-nav {
  width: 100%;
  height: 65px;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  z-index: 998;
  left:0;
  top:0;
  right:0;
  position: fixed;
  padding-top: 15px;
}

#main-nav{ transition: 1s ease all;}
#main-nav.scrolling {background-color: rgba(0, 0, 0, 1);} 

#nav-logo-wrap a img {
  width: 200px
}

#nav-logo-wrap {
  float: left;
  margin-right: 20px;
}

#nav-menu-wrap {
  float: right;
  padding-top: 7px;
}

#nav-menu-wrap a {
  text-decoration: none
}

#nav-page-section {
  float: left;
}

#nav-tools-section {
  float: right;
}

#nav-menu-wrap ul {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav-menu-wrap ul li,
#nav-tools-wrap ul li {
  display: inline;
}

#nav-page-section ul li a,
#nav-tools-section ul li a {
  margin-left: 40px;
  text-decoration: none;
}

#nav-page-section ul li a {
  color: #e1e1e1
}

#nav-page-section ul li a:hover {
  border-top: 4px solid #00ACD4;
  color:#fff;
  text-transform: uppercase;
  padding-top: 20px;
}

.separator-menu {
  float:left;
  height:25px;
  background:#FFF;
  display:block;
  width:1px;
  margin:-3px 0 0 40px;
}

a.submit-btn-nav {
  color: #00ACD4;
  margin-left:0 !important;
}

a.submit-btn-nav:hover {
  color: #FFF
}

a.signin-btn-nav {
  color: #FFF;
  background-color: #373c3f;
  height: 30px;
  padding: 6px 10px;
  border: #373c3f 1px solid;
  border-radius: 4px;
  text-align: center;
}

a.signin-btn-nav:hover {
  background-color: transparent;
  border: #fff 1px solid;
  color: #fff;
}

a.register-btn-nav {
  color: #FFF;
  background-color: #00ACD4;
  height: 30px;
  padding: 6px 10px;
  border: #00ACD4 1px solid;
  border-radius: 4px;
  text-align: center;
}

a.register-btn-nav:hover {
  background-color: transparent;
  border: #fff 1px solid;
  color: #fff;
  padding-top: 5px
}

/*HAMBURGER MENU*/

$color-main: #262b2e; /*icon+overlay*/
$color-closed: #FFF;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 26px;
$button-width: 30px;

.overlay-menu ul li a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
    
    &:after {
      content: '';
      position: absolute;
      background: $color-main;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
 }

.button_container{
  position: fixed;
  top: 18px;
  right: 18px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 9999;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-closed;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  z-index: 999;
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      display: block;
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav.overlay-menu {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
      }
    }
  }
}




/*****************************
 HOME SECTION - CANVAS + INTRO
******************************/

.home-section {
  position: relative;
  width: 100%;
  background: #262b2e;
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  height: 100%;
  text-align: center;
}

#home-content {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

#home-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#title {
  position: relative;
  min-height: 220px;
}

#title h2 {
  color: #fff;
  font-size: 65px;
  font-family: "museo-slab";
  font-weight: 600;
  line-height: 50px
}

#title h2 > span {
  -webkit-transition: opacity linear 1.5s;
  -moz-transition: opacity linear 1.5s;
  -ms-transition: opacity linear 1.5s;
  -o-transition: opacity linear 1.5s;
  transition: opacity linear 1.5s;
}

#title h3 {
  color: #fff;
  font-size: 22px;
  font-family: "museo-sans";
  font-weight: 300;
  margin-top: 30px;
}
/*** SCROLL HOMEPAGE ***/

.local-scroll {
  width: 120px;
  height: 50px;
  margin-left: -60px;
  bottom: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  text-decoration: none;
}

.scroll-down:before {
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  border: 3px solid #FFF;
  background: transparent !important;
  margin: 0 0 0 -20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #fff;
  border-radius: 24px;
  z-index: 1;
}

i {
  display: inline-block;
  font-style: normal;
  position: relative;
}

i.fa,
i.fa-chevron-down {
  color: #fff;
  display: block;
  top: 26px;
  width: 12px;
  height: 12px;
  border-radius: 4px;
  animation: fadeInDown 1.2s linear infinite;
  position: absolute;
  left: 50%;
  margin-left: -10.5px
}
/*** CANVAS HOMEPAGE ***/

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*****************************
 PAGE ELEMENTS
******************************/

.page-section {
  background: #fff;
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding:80px 0; 
}

.bkg-white {background-color:#fff}
.bkg-gray {background-color:#f9f9f9}


.container {
  /*temp: @media (min-width: 1200px) */
  width: 1170px;
  /**/  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container h2{
    margin-bottom:80px; position: relative;
}

.container h2:after{ 
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #00ACD4;
    top: 80px;
    width: 80px;
    left: 45%;
    margin-left: 15px;
}

.intro-body, .process-body {
  text-align:center;
}


/*****************************
MEDIA QUERY
******************************/


@media only screen and (min-width: 1280px) {
  .button_container, #overlay {
    display: none;
  }
  #nav-tools-section, #nav-page-section{
    display:inline;
  }
}

@media only screen and (max-width: 1280px) {
  .button_container {
    display: block;
  }
  #nav-tools-section, #nav-page-section, .separator-menu{
    display:none;
  }
}



/*****************************
 CSS3 ANIMATIONS
******************************/


@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    top: 30px
  }
  50% {
    opacity: 1;
    transform: none;
    top: 31px
  }
  100% {
    opacity: 0;
    transform: none;
    top: 32px
  }
}


@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}